<html
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns="http://www.w3.org/1999/xhtml"
    lang="en"
    f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
    data-namespace-typo3-fluid="true"
>
<div class="recordlist mb-5 mt-4 border">
    <div class="recordlist-heading row m-0 p-2 g-0 gap-1 align-items-center multi-record-selection-panel">
        <div class="col ms-2">
            {f:translate(key: 'index.heading.datatypes', extensionName: 'xlsexport')}
        </div>
        <div class="col-auto">

        </div>
    </div>
    <div class="table-fit mb-0">
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th class="col-title col-responsive nowrap">
                    {f:translate(key: 'index.available', extensionName: 'xlsexport')}
                </th>
                <th class="nowrap">
                    {f:translate(key: 'index.count', extensionName: 'xlsexport')}
                </th>
                <th class="col-control nowrap">
                    {f:translate(key: 'index.heading.actions', extensionName: 'xlsexport')}
                </th>
            </tr>
            </thead>
            <f:for each="{datasets}" as="dataset">
                <tr>
                    <td class="col-title col-responsive nowrap">{dataset.label}</td>
                    <td class="nowrap">
                        {dataset.count} {f:translate(key: 'index.records', extensionName: 'xlsexport')}
                    </td>
                    <td class="col-control nowrap">
                        <div class="btn-group">

                        </div>
                        <f:if condition="{dataset.count} > 0">
                            <f:then>
                                <f:link.action
                                    action="export"
                                    class="btn btn-default"
                                    arguments="{config: '{dataset.config}', id: '{id}'}"
                                >
                                    <core:icon identifier="actions-download"/>
                                    {f:translate(key: 'index.export', extensionName: 'xlsexport')}
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <span class="btn btn-default disabled">
                                    <core:icon identifier="actions-download"/>
                                    {f:translate(key: 'index.export', extensionName: 'xlsexport')}
                                </span>
                            </f:else>
                        </f:if>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</div>
</html>
