<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
    lang="en"
>
<div class="recordlist mb-5 mt-4 border">
    <div class="recordlist-heading row m-0 p-2 g-0 gap-1 align-items-center multi-record-selection-panel">
        <div class="col ms-2">
            {f:translate(key: 'index.heading.datatypes', extensionName: 'xlsexport')}
        </div>
    </div>
    <div class="table-fit mb-0">
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th class="col-title col-responsive nowrap">
                    {f:translate(key: 'index.available', extensionName: 'xlsexport')}
                </th>
                <th class="nowrap">
                    {f:translate(key: 'index.count', extensionName: 'xlsexport')}
                </th>
                <th class="col-control nowrap">
                    {f:translate(key: 'index.heading.actions', extensionName: 'xlsexport')}
                </th>
            </tr>
            </thead>
            <f:for each="{datasets}" as="dataset" key="configuration">
                <tr>
                    <td class="col-title col-responsive nowrap">
                        <f:translate key="{dataset.label}" default="{dataset.label}"/>
                    </td>
                    <td class="nowrap">
                        {dataset.count} {f:translate(key: 'index.records', extensionName: 'xlsexport')}
                    </td>
                    <td class="col-control nowrap">
                        <f:if condition="{dataset.count} > 0">
                            <f:then>
                                <form method="post" action="{exportUri}" class="d-flex gap-2 align-items-center justify-content-end">
                                    <input type="hidden" name="id" value="{pageId}"/>
                                    <input type="hidden" name="configuration" value="{configuration}"/>
                                    <input
                                        type="text"
                                        name="filename"
                                        value="{dataset.suggestedFilename}"
                                        class="form-control form-control-sm"
                                        aria-label="{f:translate(key: 'index.filename', extensionName: 'xlsexport')}"
                                    />
                                    <select name="format" class="form-select form-select-sm w-auto">
                                        <f:for each="{formats}" as="formatLabel" key="formatValue">
                                            <option value="{formatValue}"<f:if condition="{formatValue} == {dataset.defaultFormat}"> selected="selected"</f:if>>{formatLabel}</option>
                                        </f:for>
                                    </select>
                                    <button type="submit" class="btn btn-default btn-sm text-nowrap">
                                        <core:icon identifier="actions-download"/>
                                        {f:translate(key: 'index.export', extensionName: 'xlsexport')}
                                    </button>
                                </form>
                            </f:then>
                            <f:else>
                                <span class="btn btn-default disabled">
                                    <core:icon identifier="actions-download"/>
                                    {f:translate(key: 'index.export', extensionName: 'xlsexport')}
                                </span>
                            </f:else>
                        </f:if>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</div>
</html>
