<html
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en"
        f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
        data-namespace-typo3-fluid="true"
>
<f:layout name="Default"/>
<f:section name="Headline">
    <h1>XLS Exporter</h1>
    <f:be.pagePath/>
</f:section>
<f:section name="Content">
    <f:if condition="{id}">
        <f:then>
            <f:if condition="{noconfig}">
                <f:then>
                    <f:be.infobox title="{f:translate(key: 'noconfig.title')}" state="-1">
                        {f:translate(key: 'noconfig.body') -> f:format.raw()}
                    </f:be.infobox>
                </f:then>
                <f:else>
                    <f:render partial="List" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:be.infobox title="" state="-1">
                {f:translate(key: 'index.selectPage', extensionName: 'xlsexport')}
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>
</html>
